* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100%;
    background-color: #fff;
    font-family: Barlow Condensed;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: white;
    color: black;
    height: 12vh;
}

.navbar-logo img {
    margin-top: 40px;
    width: 90px;
}

.navbar-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-right: 320px;
    font-size: 20px;
}

.navbar-menu li {
    position: relative;
}

.navbar-menu a {
    color: black;
    text-decoration: none;
    padding: 8px;

}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #ebe9e9;
    top: 40px;
    list-style: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li a {
    padding: 10px;
    color: black;
    display: block;
    width: 210px;
    gap: 10px;
    /* text-transform: capitalize; */

}

.navbar-actions {
    display: flex;
    gap: 10px;
}

.language-select,
.account-btn {
    /* background: #555; */
    /* color: white; */
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 19px;
}

.join-btn {
    background: rebeccapurple;
    color: white;
    border: 1px solid grey;
    border-radius: 35px;
    padding: 5px 2px;
    width: 110px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    height: 3px;
    width: 25px;
    background: black;
    margin: 4px;
    transition: 0.3s;
    margin-right: 25px;
}

/* Full-screen Hamburger Menu */
#hamburger-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: whitesmoke;
    color: black;
    padding: 50px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    /* text-decoration: none; */
}

#hamburger-menu nav {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
    gap: 20px;
    padding: 50px;
    /* text-decoration: none; */

}

.flag-container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 38px;
    margin-left: -170px;
}

/* .flag-container img{
     border-radius: 0px;
    border: 90px;
} */
.flag-container span {

    margin-right: -500px;

}

.menu-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;

}

/* Responsive Styles */
@media (max-width: 768px) {

    .navbar-menu,
    .navbar-actions {
        display: none;
    }

    .menu-toggle {
        display: flex;
    }
}