* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

footer {
    background-color: #5b1c80;
    color: #fff;
    padding: 20px 0;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 5%;
    max-width: 1400px;
    margin: 0 auto;
}

.footer-logo img {
    width: 50px;
}

.footer-sections {
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.footer-column {
    margin: 10px;
}

.footer-column h4 {
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 5;
}

.footer-column ul {
    list-style: none;
    line-height: 2;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: #ccc;
}

.footer-region {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 10px;
    line-height: 1.6;
}

.download-button {
    background-color: #fff;
    color: #6e219b;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

.region-selector {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.6;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    border-top: 1px solid #fff;
    max-width: 1400px;
    margin: 0 auto;
    line-height: 1.6;
}

.footer-bottom p {
    font-size: 14px;
}

.social-icons a {
    color: #fff;
    font-size: 30px;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #ccc;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-sections {
        flex-direction: column;
        align-items: center;
    }

    .footer-region {
        align-items: center;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
    }
}